<p style="color: green"><%= notice %></p>

<div id="groups", class="container border">
  <h1>Groups</h1>
  
  <% @groups.each do |group| %>
  <%= button_to group, method: :get do %>
    <%= render group %>
  <% end %>
    <% end %>

  <%= link_to "New group", new_group_path %>

</div>

