<p style="color: green"><%= notice %></p>

<%= render @group %>

<div>
  <%= link_to groups_path, class: "btn btn-sm btn-outline-primary mx-4" do %>
     <i class="bi bi-arrow-left"></i>
  <% end %>

</div>
