<p style="color: green"><%= notice %></p>

<%= render @group %>

<h2>Expenses</h2>
@expenses.each do |expense|
  <%= render 'expenses/expense' %>
end
<div>
  <%= link_to groups_path, class: "btn btn-sm btn-outline-primary mx-4" do %>
     <i class="bi bi-arrow-left"></i>
  <% end %>
</div>
